@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Poppins:wght@300;400;600&family=Quicksand:wght@300;400;500;600;700&family=Syncopate:wght@400;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Poppins;
}

body {
 background-color: #222;
}

.card {
 width: 90%;
 max-width: 450px;
 background: linear-gradient(110deg, rgb(110, 3, 105), rgb(52, 184, 245));
 margin: 100px auto 0;
 border-radius: 20px;
 padding: 40px 35px;
 text-align: center;
}

.search {
 width: 100%;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 gap: 20px;
 text-align: center;
}

.search input {
 padding: 7px 14px;
 border-radius: 20px;
 border: none;
 outline: none;
 width: 80%;
 font-size: 1.1rem;
}

.search button {
 text-align: center;
 border-radius: 50%;
 border: none;
 outline: none;
 width: 50px;
 height: 50px;
 cursor: pointer;
}

.search button img {
 margin-top: 5px;
 width: 18px;
 text-align: center;
}

.wicon {
 width: 170px;
 margin-top: 30px;
}

.weather h1 {
 font-size: 3rem;
 font-weight: 600;
}

.weather h2 {
 font-size: 2.3rem;
 font-weight: 400;
 margin-top: -10px;
}

.details {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 20px;
 margin-top: 50px;
}

.col {
 display: flex;
 align-items: center;
 text-align: left;
}

.col img {
 width: 40px;
 margin-right: 10px;
}

.humanity,
.wind {
 font-size: 1.4rem;
}
.weather{
 display: none;
}